<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Header | EscoTech</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Displays the header and logo.">
</head>
<body>
<header id="myHeader" th:fragment="header">
    <div class="container">
        <div class="row">
            <div class="col">
                <a class="skip-link" href="#main">Skip to main</a>
                <div class="logo-img"></div>
            </div>
        </div>
    </div>
</header>
</body>
</html>