<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Navigation | EscoTech</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Displays the main navigation links.">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="nav">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}" class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/about' ? 'active':''}" class="nav-item">
                    <a class="nav-link" th:href="@{/about}">About</a>
                </li>
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/products' ? 'active':''}" class="nav-item">
                    <a class="nav-link" th:href="@{/products}">Products</a>
                </li>
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/services' ? 'active':''}" class="nav-item">
                    <a class="nav-link" th:href="@{/services}">Services</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li sec:authorize="hasRole('ROLE_USER')" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/orders' ? 'active':''}" class="nav-item pr-2 float-right">
                    <a class="nav-link" th:href="@{/admin/orders}">Orders</a>
                </li>
                <li sec:authorize="hasRole('ROLE_USER')" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/product/create' ? 'active':''}" class="nav-item pr-2">
                    <a class="nav-link" th:href="@{/admin/product/create}">Create Product</a>
                </li>
                <li sec:authorize="hasRole('ROLE_USER')" th:classappend="${#httpServletRequest.getRequestURI() == '/admin/allProducts' ? 'active':''}" class="nav-item pr-2">
                    <a class="nav-link" th:href="@{/admin/allProducts}">All Products</a>
                </li>
                <li sec:authorize="isAnonymous()" th:classappend="${#httpServletRequest.getRequestURI() == '/entry' ? 'active':''}" class="nav-item pr-2">
                    <a class="nav-link" th:href="@{/entry}">Admin Entry</a>
                </li>
                <li sec:authorize="hasRole('ROLE_USER')" th:classappend="${#httpServletRequest.getRequestURI() == '/entry' ? 'active':''}" class="nav-item pr-2">
                    <a class="nav-link" th:href="@{/entry}">Exit, <span sec:authentication="name"></span></a>
                </li>
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/cart' ? 'active':''}" class="nav-item">
                    <a class="nav-link" th:href="@{/cart}">
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                        </svg>
                        <span class="sr-only">shopping cart</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
