<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home | EscoTech</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Displays an order at EscoTech.">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/site.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">
<th:block th:insert="_header :: header"></th:block>
<th:block th:insert="_nav :: nav"></th:block>
<div class="container">
    <div class="row">
        <div class="col">
            <img th:src="@{/images/phone-booth-1527927.jpg}" alt="We make and repair time machines" class="img-fluid"/>
            <div class="bottom-left">Time machine creation and repair</div>
        </div>
    </div><!-- end row -->
    <div class="row">
        <main id="main" tabindex="-1" class="col-12">
            <h1 class="pt-3">EscoTech</h1>
            <p>
                EscoTech is a cutting-edge tech company that specializes in the creation of phone-booth style time machines
                as well as the repair of any type of time machine.
                The time machines are created and repaired solely by <strong>Govinda Escobar</strong>. He has been studying
                physics and computer science since he was a child. He made his first time machine in high school with
                friends <strong>Bill and Ted</strong> for a history project, in which they traveled back in time to
                interview historical figures such as Abraham Lincoln and Genghis Khan.
            </p>
        </main>
    </div><!-- end row -->
</div><!-- end container -->
<div class="flex-grow-1"></div>
<th:block th:insert="_footer :: footer"></th:block>
<script th:src="@{|/js/jquery-3.5.1.slim.min.js|}"></script>
<script th:src="@{|/js/bootstrap.bundle.js|}"></script>
</body>
</html>